        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Edit History</h3>
        </div>
        <div class="modal-body" style = "overflow-x: auto; position: relative; overflow-y: auto;" id="modal-body">
            
            <div class="container">
                <div class="row">
                <div class="col-sm">
                    <table  class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr rowspan="2">
                            <th colspan="1">Hours</th>
                            <th colspan="2">Batch no</th>
                            <th colspan="2">Density temperature &deg;C</th>
                            <th colspan="1">FMR/Pumping</th>
                            <th colspan="1">Tank no</th>
                            <th colspan="1">Officer</th>
                            <th colspan="1">Edit Date</th>
                            </tr>
                            <tr rowspan="2">
                            <th></th>
                            <th>Product</th>
                            <th>Seq. No</th>
                            <th>Density</th>
                            <th>Temperature</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="data in flattenedHourEditHistory | filter : selectedShift track by $index">
                        <td>
                            <span >
                                {{ data.hours || '-' }}
                            </span>
                        </td>
                        <td class="select-td">    
                            <span>
                            {{ data.product || '-'}}
                            </span>
                        </td>
                        <td>
                            <span numbers-only>
                                {{ data.seq_no || '-' }}
                            </span>
                        </td>
                    
                        <td>
                            <span>
                                {{ data.density || '-' }}
                            </span>
                        </td>
                    
                        <td>
                            <span >
                                {{ data.temperature || '-' }}
                            </span>
                        </td>
                    
                        <td>
                            <span >
                                {{ data.fmr || '-' }}
                            </span>
                        </td>
                        <td>
                            <span >
                                {{ data.tank_no || '-' }}
                            </span>
                        </td>
                        <td>
                                <span>
                                    {{ data.officer || '-' }}
                                </span>
                          </td>
                          <td>
                                <span>
                                        {{ (data.editedDate | date : "short" ) || '-' }}
                                </span>
                          </td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
            

        </div>
        <div class="modal-footer">
            <!-- <button class="btn btn-primary" type="button" ng-click="pc.ok()">OK</button> -->
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
