

<ul class="nav nav-tabs nav-justified" role="tablist">
    <li ng-class="{active: shift.isSelected == true}" class="nav-item" ng-repeat="shift in $parent.shifts">
       <a class="" data-toggle="tab" ng-click = "$parent.selectShift(shift); remarksSelectShift(shift)" role="tab">{{shift.name}}</a>
    </li>
 </ul>

<div class="panel with-scroll animated zoomIn" zoom-in="" ba-panel-blur="" style="background-size: 1679px 944px; background-position: 0px -79px;">
    <div class="panel-body" > 
        <div class="ng-scope" ng-repeat = "data in remarks.remarksData | filter : selectedShift track by $index">
            <table cellspacing="20" class="table table-hover table-condensed">
                <tbody>
                    <td style ="border-top : 0px">
                            <tr>
                                    <th width= "50%" style ="text-align: right; padding-top: 8px">product</th>
                                    <td style ="border-top : 0px" class="editable-row">
                                                <div editable-select="data.product" e-name="product" e-form="rowform" e-selectpicker e-ng-options="product for product in $parent.products">
                                                        {{data.product }}  
                                                    </div>
            
                                    </td>
                                </tr>
                                <tr>
                                    <th width= "50%" style ="text-align: right; padding-top: 8px">seqnNo</th>
                                    <td style ="border-top : 0px" border: none; class="editable-row">
                                            <div editable-number="data.seqnNo" e-name="seqnNo" e-form="rowform">
                                                    {{ data.seqnNo }}
                                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th width= "50%" style ="text-align: right; padding-top: 8px">fmrPumping</th>
                                    <td style ="border-top : 0px" class="editable-row">
                                            <div editable-text="data.fmrPumping" e-name="fmrPumping" e-form="rowform">
                                                    {{ data.fmrPumping }}
                                                    </div>
                                    </td>
                                </tr>      
                                <tr>
                                    <th width= "50%" style ="text-align: right; padding-top: 8px">remarks</th>
                                            <td style ="border-top : 0px" class="editable-row">
                                                    <div editable-textArea="data.remarks" e-name="remarks" e-form="rowform">
                                                            {{ data.remarks }}
                                                        </div>
                                            </td>
                                </tr>
                    </td>

                </tbody>
            </table>
            <center>
                    <form editable-form name="rowform" onaftersave = "editremarksData(data, $index)" ng-show="rowform.$visible" class="form-buttons form-inline"
                    shown="inserted == data">
                        <button type="submit"  ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button">
                        Save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button">
                        Cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-danger"  ng-show = "isAdmin || isShiftOfficer" ng-click="rowform.$show(); editremarksStart(data,rowform)">Edit</button>
                        <button class="btn btn-info"  ng-show = "isAdmin && !isShiftOfficer" ng-click="open(data)">History</button>
                    </div>
        
            </center>
        </div>
    </div>
</div>
