<div class="row" ng-show = "!productInStationLinefill.proInStationLinefillData">
    <div class="loader">Loading...</div>
</div>
    
<div ng-show = "productInStationLinefill.proInStationLinefillData &&  productInStationLinefill.proInStationLinefillData.length == 0">
    <div class="alert">
        <h3>
        <strong>Sorry!</strong> No records fould as per the set filters
        </h3>
    </div>
</div>  
 
<div ng-show = "productInStationLinefill.proInStationLinefillData &&  productInStationLinefill.proInStationLinefillData.length > 0" class="panel with-scroll animated zoomIn" zoom-in="" ba-panel-blur="" style="background-size: 1679px 944px; background-position: 0px -79px;">
  <div class="panel-body" > 
    <table class="table table-bordered table-hover table-condensed">
      <thead>
          <tr>
            <th>Line Location</th>
            <th>Shift A</th>
            <th>Shift B</th>
            <th>Shift C</th>      
            <th>Remarks</th>
            <th ng-show = "isAdmin">Actions</th>
          </tr>
        </thead>
      <tr class="editable-row" ng-repeat="data in productInStationLinefill.proInStationLinefillData track by $index">
        <td>
            <span >
                {{ data.lineLocation || '-' }}  
            </span>
        </td>
          <td ng-if = "data.productList">    
            <span editable-select="data.shiftA" e-name="shiftA" e-form="rowform"  e-selectpicker e-ng-options="product for product in data.productList" e-required>
              {{ data.shiftA || '-' }}
            </span>
          </td>
          <td ng-if = "data.productList">
            <span editable-select="data.shiftB" e-name="shiftB"  e-form="rowform"  e-selectpicker e-ng-options="product for product in data.productList" e-required>
                {{ data.shiftB || '-' }}
            </span>
          </td>
          <td ng-if = "data.productList">
            <span editable-select="data.shiftC" e-name="shiftC"  e-form="rowform"  e-selectpicker e-ng-options="product for product in data.productList" e-required>
                {{ data.shiftC || '-' }}
            </span>
          </td>

        <td ng-if = "!data.productList">    
            <span editable-text="data.shiftA" e-step="any" e-name="shiftA" e-form="rowform" e-required>
              {{ data.shiftA || '-' }}
            </span>
          </td>
          <td ng-if = "!data.productList">
            <span editable-text="data.shiftB" e-step="any" e-name="shiftB"  e-form="rowform" e-required>
                {{ data.shiftB || '-' }}
            </span>
          </td>
          <td ng-if = "!data.productList">
            <span editable-text="data.shiftC" e-step="any" e-name="shiftC"  e-form="rowform" e-required>
                {{ data.shiftC || '-' }}
            </span>
          </td>

        <td >    
          <span editable-text="data.remarks" e-name="remarks" e-form="rowform" e-required>
            {{ data.remarks  || '-' }}
          </span>
        </td>
        <td ng-show = "isAdmin || isShiftOfficer">
          <form editable-form name="rowform" onaftersave = "editProInStationLinefillData(data, $index)" ng-show="rowform.$visible" class="form-buttons form-inline"
                shown="inserted == data">
            <button type="submit"  ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
              Save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
              Cancel
            </button>
          </form>
          <div class="buttons" ng-show="!rowform.$visible">
            <button class="btn btn-danger editable-table-button btn-xs" ng-click="rowform.$show(); editProductInStationLinefillStart(data)">Edit</button>
            <button class="btn btn-info editable-table-button btn-xs" ng-show = "isAdmin && !isShiftOfficer" ng-click="open(data)">History</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>



