        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Edit History</h3>
        </div>
        <div class="modal-body" style = "overflow-x: auto; position: relative; overflow-y: auto;" id="modal-body">
            <div class="container">
                <div class="row">
                <div class="col-sm">
                    <table  ng-repeat = "line in flattenedHourEditHistory track by $index" class="table table-bordered table-hover table-condensed">
                        <tr>
                            <th style = "width : 100px">{{line.lineFillName}}</th>
                            <td style = "width : 100px" ng-repeat = "data in line.lineFill track by $index">
                                <span>
                                    {{ data.product  || '-' }}
                                </span>
                            </td>
                            <td style = "width : 100px">
                                Officer
                            </td>
                            <td style = "width : 100px">
                                EditDate
                            </td>
                        </tr>
                        <tr>
                            <th  style = "width : 100px">{{line.lineFillVolume}}</th>
                            <td style = "width : 100px" ng-repeat = "data in line.lineFill track by $index">
                                <span>
                                    {{ data.volume || '-' }}
                                </span>
                            </td>
                            <td style = "width : 100px">
                                <span>
                                    {{ line.officer || '-' }}
                                </span>
                            </td>
                            <td style = "width : 100px">
                                <span>
                                    {{ (line.editedDate | date : "short")  || '-' }}
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <button class="btn btn-primary" type="button" ng-click="pc.ok()">OK</button> -->
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
