<div class="panel with-scroll animated zoomIn" zoom-in="" ba-panel-blur="" style="background-size: 1679px 944px; background-position: 0px -79px;">
    <div class="panel-body" > 
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li ng-class="{active: shift.isSelected == true}" class="nav-item" ng-repeat="shift in $parent.shifts">
               <a class="" data-toggle="tab" ng-click = "$parent.selectShift(shift); pumpedFromMathuraMDSelectShift(shift)" role="tab">{{shift.name}}</a>
            </li>
         </ul>
        
          <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr rowspan="2">
                  <th colspan="1">Hours</th>
                  <th colspan="2">Batch no</th>
                  <th colspan="2">Density Temperature&deg; C</th>
                  <th colspan="2">Density Variation at 15&deg;</th>
                  <th colspan="1">FMR</th>
                  <th colspan="1">Flow Rate</th>      
                  <th colspan="1">Tank no</th>
                    <th colspan="1" ng-show = "isAdmin || isShiftOfficer">Actions</th>
                </tr>
                <tr rowspan="2">
                  <th></th>
                  <th>Product</th>
                  <th>Seq. No</th>
                  <th>Density</th>
                  <th>Temperature</th>
                  <th>Density</th>
                  <th>Variation</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th ng-show = "isAdmin || isShiftOfficer"></th>
                </tr>
              </thead>
            <tr ng-repeat="data in pumpedFromMathuraMD.pumpedFromMatMDData | filter : {'shift':  selectedShift} track by $index" class="editable-row">
              <td>
                  <span >
                      {{ data.hours || '-' }}
                  </span>
              </td>
              <td style = "width:100px" class="select-td">    
                <span editable-select="data.product" e-name="group" e-form="rowform" e-selectpicker e-ng-options="product for product in $parent.products">
                  {{ data.product || '-' }}
                </span>
              </td>
              <td>
                <span editable-number="data.seq_no" e-step="any" e-name="seq_no"  e-form="rowform" e-required>
                    {{ data.seq_no || '-' }}
                </span>
              </td>
        
              <td>
                  <span editable-number="data.density1" e-name="density1" e-form="rowform" e-required>
                      {{ data.density1 || '-' }}
                  </span>
              </td>
        
              <td>
                  <span editable-number="data.temperature" e-name="temperature" e-form="rowform" e-required>
                      {{ data.temperature || '-' }}
                  </span>
              </td>
        
              <td>
                <span editable-number="data.density2" e-name="density2" e-form="rowform" e-required>
                    {{ data.density2 || '-' }}
                </span>
            </td>
        
            <td>
                <span editable-number="data.variation" e-name="variation" e-form="rowform" e-required>
                    {{ data.variation || '-' }}
                </span>
            </td>
              <td>
                  <span editable-text="data.fmr" e-name="fmr" e-form="rowform" e-required>
                      {{ data.fmr || '-' }}
                  </span>
              </td>
              <td>
                    <div>
                        <span ng-show= "data.position > 0 && data.fmr">
                        {{ (data.fmr - pumpedFromMathuraMD.pumpedFromMatMDData[data.position - 1].fmr) > 0 ? data.fmr - pumpedFromMathuraMD.pumpedFromMatMDData[data.position -1].fmr : (data.fmr - pumpedFromMathuraMD.pumpedFromMatMDData[data.position - 1].fmr) < 0  ?  data.fmr - pumpedFromMathuraMD.pumpedFromMatMDData[data.position -1].fmr + 10000  : 0}}
                        </span>
                    </div>
                    <span ng-show= "data.position == 0 ">
                        {{ data.fmr}}
                  </span>
              </td>
              <td>
                  <span editable-text="data.tank_no" e-name="tank_no" e-form="rowform"  e-required>
                      {{ data.tank_no || '-' }}
                  </span>
              </td>
              <td ng-show = "isAdmin || isShiftOfficer" >
                <form editable-form name="rowform" onaftersave = "editpumpedFromMatMDData(data, $index)" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == data">
                  <button type="submit"  ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                    Save
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                    Cancel
                  </button>
                </form>
                <!-- ng-disabled = "!pumpedFromMathuraMD.pumpedFromMatMDData[$index -1].fmr"  -->
                <div class="buttons" ng-show="!rowform.$visible">
                  <button class="btn btn-danger editable-table-button btn-xs" ng-show = "isAdmin || isShiftOfficer" ng-disabled = "data.position==0" ng-click="rowform.$show(); editpumpedFromMathuraMDStart(data)">Edit</button>
                  <button class="btn btn-info editable-table-button btn-xs" ng-show = "isAdmin && !isShiftOfficer" ng-click="open(data)">History</button>
                </div>
              </td>
            </tr>
          </table>
          <div class="button-wrapper ng-scope">
              <button type="button"  ng-show = "isAdmin || isShiftOfficer" ng-click="openRemarks()" class="btn btn-primary btn-md">Remarks</button>
        </div>
          
    </div>
  </div>

