        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Edit History</h3>
        </div>
        <div class="modal-body" style = "overflow-x: auto; position: relative; overflow-y: auto;" id="modal-body">
            
            <div class="container">
                <div class="row">
                <div class="col-sm">
                    <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <th>Product</th>
                        <th>Seq No.</th>
                        <th>Quantity</th>
                        <th >Officer</th>
                        <th >Edit Date</th>
                    </tr>
                    <tr ng-repeat="dt in flattenedHourEditHistory track by $index">
                        <td>  
                        <span >
                                {{ dt.product }}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{ dt.seq_no || '-' }}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{ dt.qty || '-' }}
                            </span>
                        </td>
                        <td>
                                <span>
                                    {{ dt.officer || '-' }}
                                </span>
                          </td>
                          <td>
                                <span>
                                        {{ dt.editedDate | date : "short"  || '-' }}
                                </span>
                          </td>
                    </tr>
                </div>
                </div>
            </div>
            

        </div>
        <div class="modal-footer">
            <!-- <button class="btn btn-primary" type="button" ng-click="pc.ok()">OK</button> -->
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
