
<div ng-controller = "lbt-table-ctrl">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li ng-class="{active: lbt.isSelected == true}" class="nav-item" ng-repeat="lbt in $parent.lbt track by $index">
           <a class="" data-toggle="tab" ng-click = "$parent.selectLbt(lbt); lbtTableSelectLbt(lbt)" role="tab">{{lbt.name}}</a>
        </li>
     </ul>
     <table>
        <tr>
          <td >{{data.name}}
          </td>
        </tr>
        <tr>
          <td>
          </td>
        </tr>
      </table>
    
      <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
              <th ng-repeat="data in lbtTable.lbtTabData[selectedLbtTrimmed] track by $index">
                <span>
                    {{data.name}} 
                </span>
                <span ng-hide = "hideEditHistoryRemarks" style = "float: right" ng-if = "data.addRowsEnabled && $index > 0 && $index < 3">
                    <button type="button" ng-click= "addNewLbtRecord(data)" class="btn btn-default btn-xs"><i class="ion-plus"></i></button> 
                </span>  
              </th>
            </tr>
          </thead>
        <tr class="editable-row">
          <td ng-repeat="data in lbtTable.lbtTabData[selectedLbtTrimmed] track by $index" style="padding : 0px">
              <table  style ="width: 100%;" class="table-bordered table-hover table-condensed">
                  <tr>
                      <th>Product</th>
                      <th>Seq No.</th>
                      <th>Quantity</th>
                      <th ng-hide = "hideEditHistoryRemarks">Actions</th>
                    </tr>
                  <tr ng-repeat="dt in data.details track by $index" class="editable-row">
                    <td>  
                    <span editable-select="dt.product" e-name="group" e-form="rowform" e-selectpicker e-ng-options="product for product in $parent.products">
                          {{ dt.product }}
                        </span>
                    </td>
                    <td>
                        <span editable-number="dt.seq_no" e-step="any" e-name="seq_no"  e-form="rowform" e-required>
                            {{ dt.seq_no || '-' }}
                        </span>
                    </td>
                    <td>
                        <span editable-number="dt.qty" e-step="any" e-name="qty"  e-form="rowform" e-required>
                            {{ dt.qty || '-' }}
                        </span>
                    </td>
                    <td style="width :75px" ng-hide = "hideEditHistoryRemarks">
                        <form editable-form name="rowform" onaftersave = "editLbtTabData(dt, $index)" ng-if="rowform.$visible" class="form-buttons form-inline"
                            shown="inserted == data">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default btn-xs">
                        <i class="ion-checkmark"></i>
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-xs">
                              <i class="ion-close-round"></i>
                        </button>
                        </form>
                        <div class="buttons" ng-if="!rowform.$visible">
                          <button class="btn btn-default btn-xs" ng-if = "data.addRowsEnabled > 0 && $parent.$index > 0 && $parent.$index < 3" ng-click="rowform.$show(); editLbtTableStart(dt)"><i class="ion-edit"></i></button>
                          <button class="btn btn-default btn-xs" ng-click="open(dt)"><i class="ion-clipboard"></i></button>
                        </div>
                    </td>
                  </tr>
              </table>
          </td>
        </tr>
      </table>
      <div ng-hide = "hideEditHistoryRemarks" class="button-wrapper ng-scope">
          <button type="button"  ng-click="openRemarks()" class="btn btn-primary btn-md">Remarks</button>
    </div>
    
</div>
