<div class="row" ng-show = "!delhiExMR.delExmrData">
    <div class="loader">Loading...</div>
  </div>
  
<div ng-show = "delhiExMR.delExmrData &&  delhiExMR.delExmrData.length == 0">
    <div class="alert">
        <h3>
        <strong>Sorry!</strong> No records fould as per the set filters
        </h3>
    </div>
</div>  
<div ng-show = "delhiExMR.delExmrData  &&  delhiExMR.delExmrData.length > 0" class="panel with-scroll animated zoomIn" zoom-in="" ba-panel-blur="" style="background-size: 1679px 944px; background-position: 0px -79px;">
    <div class="panel-body" > 
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li ng-class="{active: shift.isSelected == true}" class="nav-item" ng-repeat="shift in $parent.shifts">
               <a class="" data-toggle="tab" ng-click = "$parent.selectShift(shift); delhiExmrSelectShift(shift)" role="tab">{{shift.name}}</a>
            </li>
         </ul>
        
          <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr rowspan="2">
                  <th colspan="1">Hours</th>
                  <th colspan="2">Batch no</th>
                  <th colspan="2">Density temperature &deg;C</th>
                  <th colspan="2">FMR Pumping Bypass</th>
                  <th colspan="2">Flow Rate</th>
                  <!-- <th colspan="1">Flush Offset</th>       -->
                  <th colspan="1">Tank no</th>
                  <th colspan="1">Tank Dip</th>
                  <th colspan="1">Flow Difference</th>
                  <th colspan="1" ng-show = "isAdmin || isShiftOfficer">Actions</th>
                </tr>
                <tr rowspan="2">
                  <th></th>
                  <th>Product</th>
                  <th>Seq. No</th>
                  <th>Density</th>
                  <th>Temperature</th>
                  <th>FMR(D)</th>
                  <th>Pumping/Bypass</th>
                  <th>Delivery</th>
                  <th>Pumping</th>
                  <!-- <th></th> -->
                  <th></th>
                  <th></th>
                  <th></th>
                  <th ng-show = "isAdmin || isShiftOfficer"></th>
                </tr>
              </thead>
                <tbody  ng-hide="$index == 10" ng-repeat="data in delhiExMR.delExmrData | filter : {shift: selectedShift} track by $index" class="editable-row">
               <tr   rowspan="2">
                    <td>
                            <span >
                                {{ data.hours || '-' }}
                            </span>
                        </td>
                        <td style = "width:100px" class="select-td">    
                            <span editable-select="data.product" e-name="product" e-form="rowform" e-selectpicker e-ng-options="product for product in $parent.products">
                            {{ data.product || '-' }}
                            </span>
                        </td>
                        <td>
                            <span editable-number="data.seq_no" e-step="any" e-name="seq_no"  e-form="rowform" e-required>
                                {{ data.seq_no || '-' }}
                            </span>
                        </td>
                
                        <td>
                            <span editable-text="data.density" e-name="density" e-form="rowform" e-required>
                                {{ data.density || '-' }}
                            </span>
                        </td>
                
                        <td>
                            <span editable-number="data.temperature" e-name="temperature" e-form="rowform" e-required>
                                {{ data.temperature || '-' }}
                            </span>
                        </td>
                
                        <td>
                            <span editable-number="data.fmr" e-name="fmr" e-form="rowform" e-required>
                                {{ data.fmr || '-' }}
                            </span>
                        </td>
                
                        <td>
                            <span editable-number="data.pumpingBypass" e-name="pumpingBypass" e-form="rowform" e-required>
                                {{ data.pumpingBypass || '-' }}
                            </span>
                        </td>
                        <td>
                            <div>
                                    <span ng-show= "data.position > 0 && data.fmr > 0">
                                    {{  data.flowRateDelivery = (data.fmr - delhiExMR.delExmrData[data.position - 1].fmr) > 0 ? (data.fmr - delhiExMR.delExmrData[data.position -1].fmr) :(data.fmr - delhiExMR.delExmrData[data.position - 1].fmr) < 0 ? (data.fmr - delhiExMR.delExmrData[data.position -1].fmr + 10000) : 0 }}
                                    </span>
                                </div>
                                <span ng-show= "data.position == 0 ">
                                   {{  data.flowRateDelivery = (data.fmr - delhiExMR.delExmrData[25].fmr) > 0 ? (data.fmr - delhiExMR.delExmrData[25].fmr) :(data.fmr - delhiExMR.delExmrData[25].fmr) < 0 ? (data.fmr - delhiExMR.delExmrData[25].fmr + 10000) : 0 }}
                              </span>
                          </td>
                          <td>
                                <div>
                                    <span ng-show= "data.position > 0 && data.pumpingBypass > 0">
                                    {{ data.flowRatePumping = ((data.pumpingBypass - delhiExMR.delExmrData[data.position - 1].pumpingBypass) > 0) ? (data.pumpingBypass - delhiExMR.delExmrData[data.position -1].pumpingBypass) : ((data.pumpingBypass - delhiExMR.delExmrData[data.position - 1].pumpingBypass) < 0) ? (data.pumpingBypass - delhiExMR.delExmrData[data.position -1].pumpingBypass + 10000) : 0 }}
                                    </span>
                                </div>
                                <span ng-show= "data.position == 0 ">
                                {{ data.flowRatePumping = ((data.pumpingBypass - delhiExMR.delExmrData[25].pumpingBypass) > 0) ? (data.pumpingBypass - delhiExMR.delExmrData[25].pumpingBypass) : ((data.pumpingBypass - delhiExMR.delExmrData[25].pumpingBypass) < 0) ? (data.pumpingBypass - delhiExMR.delExmrData[25].pumpingBypass + 10000) : 0 }}
                              </span>
                          </td>
                        <!-- <td>
                            <span editable-text="data.flushOffset" e-name="flushOffset" e-form="rowform"  e-required>
                                {{ data.flushOffset || '-' }}
                            </span>
                        </td> -->
                          <td>
                            <span editable-text="data.tank_no" e-name="tank_no" e-form="rowform"  e-required>
                                {{ data.tank_no || '-' }}
                            </span>
                        </td>
                
                        <td>
                            <span editable-number="data.tank_dip" e-name="tank_dip" e-form="rowform" e-required>
                                {{ data.tank_dip || '-' }}
                            </span>
                        </td>
                        <td>
                            <div> 

                                <span ng-if= "data.pumpingBypass > 0">
                                    {{calcFlowDiff(data)}}
                              </span>
                                <!-- <span ng-if= "data.position > 0 && data.pumpingBypass > 0">
                                    {{calcFlowDiff(data)}}
                                    </span>
                                </div>
                                <span ng-if= "data.position == 0 ">
                                    {{ data.pumpingBypass }}
                              </span>  -->
                          </td>
                        <td ng-show = "isAdmin || isShiftOfficer">
                            <form editable-form name="rowform" onaftersave = "editDelExMrData(data, $index)" ng-show="rowform.$visible" class="form-buttons form-inline"
                                shown="inserted == data">
                            <button type="submit"  ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                                Save
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                                Cancel
                            </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-danger editable-table-button btn-xs" ng-show = "isAdmin || isShiftOfficer" ng-hide = "data.position==0" ng-click="rowform.$show(); editDelhiExMrStart(data)">Edit</button>
                                <button class="btn btn-info editable-table-button btn-xs" ng-show = "isAdmin && !isShiftOfficer" ng-click="open(data)">History</button>
                                <button class="btn btn-primary editable-table-button btn-xs" ng-show = "isAdmin || isShiftOfficer" ng-click="delExMrCopy(data.position);" >Copy</button>
                                  </div>
                        </td>
               </tr>
               <tr  rowspan="2">
                    <td colspan="13" style="word-break: break-all">
                            <span color='red' editable-textarea="data.remarks" e-name="remarks" e-form="rowform"  e-required>
                                {{ data.remarks || '-' }}
                            </span>
                        </td> 
               </tr>    
                </tbody>
          </table>
          <div class="button-wrapper ng-scope">
              <button type="button"  ng-click="openRemarks()" class="btn btn-primary btn-md">Remarks</button>
        </div>  
    </div>
</div>


